@font-face {
  font-family: 'Press Start 2P';
  src: url(./PressStart2P-Regular.woff) format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: 
    local(Inter),
    url(./Inter-Variable.woff2) format('woff');
  font-weight: 410 715;
  font-display: swap;
}
/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */